@inject NavigationManager NavigationManager


<div class="py-4 vh-100 bg-transparent">


    <div class="d-flex flex-column justify-content-between h-100">

        <MudPaper Elevation="0" Class="h-100">

            <CafeTitle />

            <MudDivider Class="my-4" />

            <MudNavMenu Bordered="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">

                @if (_isUserAdmin)
                {
                    <MudNavLink Match="NavLinkMatch.All" Href="/sales-transactions" Icon="@Icons.Material.Filled.Receipt">Sales Transactions</MudNavLink>
                }

                <MudNavLink Match="NavLinkMatch.All" Href="/change-password" Icon="@Icons.Material.Filled.VpnKey">Change Password</MudNavLink>

                <MudNavGroup Title="Items" Icon="@Icons.Material.Filled.Category" Expanded="true">
                    <MudNavLink Match="NavLinkMatch.All" Href="/coffee-list" Icon="@Icons.Material.Filled.LocalCafe">Coffee List</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="/addIn-items" Icon="@Icons.Material.Filled.AddBox">Add-ins List</MudNavLink>
                </MudNavGroup>

                <MudNavLink Match="NavLinkMatch.All" Href="/cart-items" Icon="@Icons.Material.Filled.ShoppingCart">Order Cart</MudNavLink>

                @if (_isUserAdmin)
                {
                    <MudNavLink Match="NavLinkMatch.All" Href="/generate-reports" Icon="@Icons.Material.Filled.Description">Generate Reports</MudNavLink>
                }


            </MudNavMenu>

        </MudPaper>



        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Login" Color="Color.Primary" OnClick="logout" Class="mx-4">
            Sign Out
        </MudButton>

    </div>

</div>

@code {
    [CascadingParameter] private GlobalState _globalState { set; get; }

    private bool _isUserAdmin { get; set; }

    protected override void OnInitialized()
    {
        _isUserAdmin = _globalState?.CurrentUser?.Role.ToString() == "Administrator";
    }

    private void logout()
    {
        //OnClicking the logout button, the current user will be set to null, the order items will be cleared
        // and the user will be navigated to sign-in page.
        _globalState.CurrentUser = null;
        _globalState.OrderItems = new();

        NavigationManager.NavigateTo("/sign-in");
    }
}


